<h1>Bem-vindo a Editora Livros</h1>
<p>
  <%= link_to 'Página Autores',authors_path %>
</p>
<p>
  <%= link_to 'Página Fornecedor',suppliers_path %>
</p>
<p>
  <%= link_to 'Página Livros',books_path %>
</p>
<p>
  <%= link_to 'Página Perças',parts_path %>
</p>
<p>
  <%= link_to 'Página Contas',accounts_path %>
</p>
<p>
  <%= link_to 'Página Montador',assemblies_path %>
</p>
