<p style="color: green"><%= notice %></p>

<h1>Suppliers</h1>

<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <%= render supplier %>
    <p>
      <%= link_to "Show this supplier", supplier %>
    </p>
  <% end %>
</div>

<p>
  <%= link_to "New account", new_account_path %>
</p>

<p>
  <%= link_to "Page home", root_path %>
</p>