<p style="color: green"><%= notice %></p>

<%= render @assembly_part %>

<div>
  <%= link_to "Edit this assembly part", edit_assembly_part_path(@assembly_part) %> |
  <%= link_to "Back to assembly parts", assembly_parts_path %>

  <%= button_to "Destroy this assembly part", @assembly_part, method: :delete %>
</div>
